.navbar-brand {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color:#4aaaa5;
}
.nav-tabs {
    font-family:Arial, Helvetica, sans-serif;
    text-align:bottom;
    text-decoration:none;
    color:#777777;
}
